name: ESLint

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - '**'
    types: [opened, reopened]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Dependencies
        run: |
          npm install
          npm install -g eslint
      - name: Run ESLint
        run: eslint . --ext .js,.jsx,.ts,.tsx --max-warnings 0
